/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2/03/2017, 10:54:52 PM
    Author     : Fred Gz
*/

/*IMPORTACIONES*/
@import "html.less";

.btn-success, .btn-danger, .btn-default {
    background-image: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-success {
    background-color: #4BAE4F;
}

.btn-danger {
    background-color: #FF5252;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.text-blue {
    color: @Primary_Color;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.hidden {
    visibility: collapse;
}

.vertical-bottom {
    vertical-align: bottom;
}

.titulo-ruta {
    background: white;
    color: @Dark_Primary_Color;
    height: 40px;
}

.titulo-ruta h2 {
    line-height: 40px;
}

.titulo-seccion {
    padding-top: 20px;
    padding-bottom: 20px;
}

.titulo-seccion {
    color: @Secondary_Text;
}

.caja {
    border: 1px solid @Primary_Color;
    padding: 0;
    margin-bottom: 30px;
}

.caja-titulo {
    background: @Dark_Primary_Color;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.caja-titulo a {
    cursor: pointer;
}

.caja-titulo a:hover {
    text-decoration: none;
    color: inherit;
}

.caja-contenido {
    color: @Primary_Text;
    background: white;
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 140px;
}

.caja-contenido > div:first-child {
    min-height: 130px;
}

.caja-contenido i {
    color: @Dark_Primary_Color;
}

.caja-contenido table thead tr td {
    color: @Secondary_Text;
}

.caja-contenido table tbody tr:not(:last-child) {
    border-bottom: 1px solid @Divider_Color;
}

.caja-contenido table tbody tr td:first-child {
    width: 5%;
}

.caja-contenido table tbody tr td {
    padding: 5px 0;
}

.caja-contenido table tbody tr td:last-child i {
    color: @Accent_Color !important;
}

.pagination > li > a, .pagination > li > span {
    border: none;
    border-radius: 5px;
}

/*ACCORDION*/
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 0.5em;
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.mb-0 {
    margin-bottom: 0 !important;
}

.accordion-btn {
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

/*PROGRESS VERTICAL*/
.progress-bar-vertical {

}