/* 
    Created on : 23/02/2017, 09:01:23 PM
    Author     : Fred Gz
*/

.btn-success, .btn-danger, .btn-default{
    background-image: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.btn-success{
        background-color: #4BAE4F;
}

.btn-danger{
        background-color: rgb(254, 81, 81);
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}